@font-face {
  font-family: "Slick";
  src: url("../fonts/slick.woff");
}

/*================= Fira Sans ======================*/

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Thin.ttf");
  font-weight: 100;
}
