@import "reset";
@import "slick";
@import "slick-theme";
@import "fonts";
@import "global";

body {
  font-family: "Fira Sans";
  font-weight: 400;
}

.header {
  position: relative;
  text-align: right;
  &__slider {
  }

  &__slider-item {
    height: 100vh;
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
}
.slider-item {
  &__info {
    position: absolute;
    right: 80px;
    bottom: 116px;
    color: #fff;
    text-transform: uppercase;
  }

  &__info-subtitle {
    margin-bottom: 5px;
  }

  &__info-title {
    font-weight: 800;
    font-size: 80px;
    margin-bottom: 48px;
  }

  &__info-subtext {
    margin-bottom: 8px;
  }

  &__info-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 20px;
  }

  &__info-link {
    float: right;
  }
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;

  &__left {
    right: 125px;
  }
}

.slider-dots {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  color: #fff;
  .slick-current {
    .dots-box {
      border-top: 4px solid #4af6cd;
    }
  }

  .slick-track {
    transform: translate3d(0px, 0px, 0px) !important;
  }
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }
  &__name {
    font-weight: 300;
    line-height: 19;
  }
}
